[Unit]
Description=TiaaDeals Unix Socket
PartOf=tiaadeals.service

[Socket]
ListenStream=/var/run/tiaadeals.sock
SocketMode=0660
SocketUser=www-data
SocketGroup=ubuntu

[Install]
WantedBy=sockets.target 