[Unit]
Description=TiaaDeals Backend Service
Requires=tiaadeals.socket
After=network.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
WorkingDirectory=/var/www/tiaadeals-backend
ExecStartPre=/bin/rm -f /var/run/tiaadeals.sock
ExecStart=/usr/bin/pm2 start ecosystem.config.js
ExecReload=/usr/bin/pm2 reload ecosystem.config.js
ExecStop=/usr/bin/pm2 stop ecosystem.config.js
Restart=on-failure
Environment=NODE_ENV=production

# Give the service permission to manage the socket
CapabilityBoundingSet=CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=no

[Install]
WantedBy=multi-user.target 