[Unit]
Description=TiaaDeals Unix Socket
PartOf=tiaadeals.service

[Socket]
ListenStream=/var/run/tiaadeals.sock
SocketMode=0660
SocketUser=ubuntu
SocketGroup=www-data

[Install]
WantedBy=sockets.target 